<html>

  <head>
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="./css/style.css" />

  </head>

  <body>
    <h1>Error 404: Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no existe en nuestro servidor.</p>
    <p>Por favor, verifica que la URL esté escrita correctamente o intenta
      buscar lo que necesitas desde nuestra página de inicio.</p>

    <a href="\">Ir al Home</a>

  </body>

</html>